body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
    max-width: 1280px;
}

.logo {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size: 80px;
    line-height: 94px;
    margin-top: 63px;
    margin-bottom: 38px;
}

.logo-second-part {
    text-decoration: none;
    color: #4BCAFF;
}

.top-menu {
    display: flex;
    background: #35444F;
    margin-bottom: 48px;
    justify-content: center;
    align-items: center;
}

.top-menu-item-link {
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: block;
    padding-top: 26px;
    padding-bottom: 19px;
}

.top-menu-item {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.top-menu-item:first-child {
    margin-left: 162px;
    padding-left: 32px;
    padding-right: 33px;
}

.top-menu-item:nth-of-type(2n) {
    padding-left: 36px;
    padding-right: 37px;
    border-left: 0px;
}

.top-menu-item:nth-of-type(3n) {
    padding-left: 40px;
    padding-right: 40px;
    border-left: 0px;
}

.top-menu-item:last-child {
    padding-left: 40px;
    padding-right: 18px;
    border-left: 0px;
    margin-right: 133px;
}

.top-menu-item:hover {
    background: #222F3A;
    transition: .5s all ease;
}

.main-section {
    display: flex;
}

.container-main {
    display: flex;
    width: 1280px;
    margin: 0 auto;
}

.aside-nav {
    margin-right: 52px;
    width: 344px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    height: 385px;
    overflow: hidden;
}

.aside-nav-item:hover {
    background: #DBDBDB;
}

.aside-nav-item-link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    display: block;
    padding-left: 44px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.aside-nav-item-link:hover {
    color: #000000;
    transition: .5s all ease;

    transform: translate(30px);
}


.main-image-section {
    width: 885px;
    height: 529px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-bottom: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main-image {
    transition: 1s;
    display: block;
}

.main-image:hover {
    transform: scale(2.2);
}

.container-main-text {
    width: 885px;
    bottom: 54px;
}

.main-section-article-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 34px;
}

.footer {
    margin-bottom: 30px;
}

.container-footer {
    display: flex;
    width: 1280px;
    background: #B5B7BA;
    margin: 0 auto;
}

.nav-footer {
    display: flex;
    padding: 0px 40px;
}


.nav-footer-item-link {
    text-decoration: none;
    font-size: 28px;
    line-height: 28px;
    color: #010101;
    display: block;
}

.nav-footer-item-link {
    padding: 16px 0px 16px 0px;
    margin: 0px 25px 0px 0px;
}

.nav-footer-item-link:hover {
    color: #3181A6;
    transition: .5s all ease;
    border-bottom: 1px solid #3181A6;
    font-weight: normal;
    padding-bottom: 8px;
}


.copyright {
    display: flex;
    line-height: 85%;
    font-size: 24px;
    color: #010101;
    margin-left: 82px;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
}



